@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>@Model.ExceptionMessage</strong>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-outline-light">Home Page</a>
</p>
